{% extends 'base.html.twig' %}

{% block title "Apropos"%}

{% block body %}
    <main class="col-md-12">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="media/boutique.jpeg" class="d-block mx-lg-auto img-fluid" alt="Devant_Boutique" width="800" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Qui suis-je ?</h1>
                <p>Je m'appelle Madame Bovary, une passionnée de couture depuis toujours. Forte de mon expérience et de ma créativité, j'ai décidé de fonder une petite entreprise de couture où chaque pièce est conçue avec amour et précision. Accompagnée de mes trois employés talentueux, nous formons une équipe dévouée à l'art de la couture et au service de nos clients. Notre atelier est un lieu où tradition et modernité se rencontrent pour créer des vêtements uniques et sur mesure
                </p>
            </div>

            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-10 col-sm-8 col-lg-6">
                    <h1 class="display-5 fw-bold lh-1 mb-3">
                        Ce que je fais
                    </h1>
                    <p>
                        Chez Tissu Magique, nous offrons une gamme complète de services de couture, alliant savoir-faire artisanal et attention aux détails. Notre objectif est de répondre aux besoins variés de nos clients avec des créations uniques et personnalisées. Voici ce que nous proposons :<br>
                        <strong>Couture sur mesure :</strong> Nous réalisons des vêtements parfaitement ajustés, que ce soit pour des occasions spéciales comme des robes de soirée et des costumes, ou pour des tenues de tous les jours. Chaque création est adaptée à la morphologie et aux préférences de nos clients.<br>
                        <strong>Créations personnalisées :</strong> Vous avez une idée en tête ? Nous travaillons en étroite collaboration avec vous pour transformer vos visions en réalité, en utilisant des tissus de qualité et des techniques de couture traditionnelles.<br>
                        Chez Tissu Magique, chaque projet est une nouvelle aventure, où l'élégance et l'authenticité sont au cœur de notre démarche. Venez découvrir notre atelier et laissez-nous créer des
                        vêtements qui racontent votre histoire.
                    </p>
                </div>
                <div class="col-lg-6">
                    <img src="media/couture.jpeg" class="d-block mx-lg-auto img-fluid" alt="couture" width="700" height="500" loading="lazy">
                </div>
            </div>
        </div>
    </main>
{% endblock %}